In [ ]:
#BlobSAStoken = sp=racw&st=2025-05-21T04:26:20Z&se=2025-12-31T13:26:20Z&spr=https&sv=2024-11-04&sr=c&sig=rn5RQth0RD0NXZF9%2FzEoNmJiMjnGIMqMdEC%2BZpQaSfY%3D
#BlobSASurl = https://azureforstudentsttran.blob.core.windows.net/$logs?sp=racw&st=2025-05-21T04:26:20Z&se=2025-12-31T13:26:20Z&spr=https&sv=2024-11-04&sr=c&sig=rn5RQth0RD0NXZF9%2FzEoNmJiMjnGIMqMdEC%2BZpQaSfY%3D

In [ ]:
import findspark
findspark.init()  # This sets SPARK_HOME automatically

from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

conf = SparkConf().setAppName("NotebookApp").setMaster("local[*]")
sc = SparkContext(conf=conf)
spark = SparkSession(sc)

# Module 1 Homework (2025 cohort)

## Question 1: [Index] S&P 500 Stocks Added to the Index
Which year had the highest number of additions?

Using the list of S&P 500 companies from Wikipedia's S&P 500 companies page, download the data including the year each company was added to the index.
https://en.wikipedia.org/wiki/List_of_S%26P_500_companies

- Create a DataFrame with company tickers, names, and the year they were added.
- Extract the year from the addition date and calculate the number of stocks added each year.
- Which year had the highest number of additions (1957 doesn't count, as it was the year when the S&P 500 index was founded)? Write down this year as your answer (the most recent one, if you have several records).

*Context:*

> "Following the announcement, all four new entrants saw their stock prices rise in extended trading on Friday" - recent examples of S&P 500 additions include DASH, WSM, EXE, TKO in 2025 (Nasdaq article).

Additional: How many current S&P 500 stocks have been in the index for more than 20 years? When stocks are added to the S&P 500, they usually experience a price bump as investors and index funds buy shares following the announcement.

In [29]:
from pyspark.sql import SparkSession
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [31]:
import pyspark
print(pyspark.__version__)
from pyspark.sql.functions import *

3.5.5

In [32]:
# Step 1: Initialize Spark session
spark = SparkSession.builder.appName("SP500Companies").getOrCreate()

# Read tables from Wikipedia using pandas
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
tables = pd.read_html(url)

# Get the first table (S&P 500 component stocks)
sp500_df = tables[0]

# Convert pandas DataFrame to PySpark DataFrame
df = spark.createDataFrame(sp500_df)

# Show a few rows in PySpark
df.show(5)

+------+-------------------+--------------------+--------------------+---------------------+----------+-------+-----------+
|Symbol|           Security|         GICS Sector|   GICS Sub-Industry|Headquarters Location|Date added|    CIK|    Founded|
+------+-------------------+--------------------+--------------------+---------------------+----------+-------+-----------+
|   MMM|                 3M|         Industrials|Industrial Conglo...| Saint Paul, Minne...|1957-03-04|  66740|       1902|
|   AOS|        A. O. Smith|         Industrials|   Building Products| Milwaukee, Wisconsin|2017-07-26|  91142|       1916|
|   ABT|Abbott Laboratories|         Health Care|Health Care Equip...| North Chicago, Il...|1957-03-04|   1800|       1888|
|  ABBV|             AbbVie|         Health Care|       Biotechnology| North Chicago, Il...|2012-12-31|1551152|2013 (1888)|
|   ACN|          Accenture|Information Techn...|IT Consulting & O...|      Dublin, Ireland|2011-07-06|1467373|       1989|
+------+-------------------+--------------------+--------------------+---------------------+----------+-------+-----------+
only showing top 5 rows

In [33]:
df = df.withColumn("Year_added", year(col("Date added")))

In [34]:
df.groupBy("Year_added") \
  .agg(countDistinct("Symbol").alias("Distinct_Companies")) \
  .orderBy(col("Distinct_Companies").desc()) \
  .show()

+----------+------------------+
|Year_added|Distinct_Companies|
+----------+------------------+
|      1957|                53|
|      2016|                23|
|      2017|                23|
|      2019|                22|
|      2008|                17|
|      2022|                16|
|      2024|                16|
|      2023|                15|
|      2021|                15|
|      2018|                14|
|      2015|                14|
|      1997|                14|
|      2012|                14|
|      2002|                13|
|      2007|                12|
|      2020|                12|
|      2009|                12|
|      1998|                11|
|      1976|                11|
|      2006|                10|
+----------+------------------+
only showing top 20 rows

### 2017 is the year with the highest and most recent number of additions